<h1 class="{{ styles.side__title }}">{{ title }}</h1>

<div class="{{ styles.side__usercard }}">
	{{{ user }}}
	{{{ editUserProfile }}}
</div>

{{{ searchDialog }}}

<div class="{{ styles.side__chatlist }}">
	{{#each chatList}}
		<div data-dialog="DIALOG">
			{{{ this }}}
		</div>
	{{/each}}
</div>
