<section class="{{ styles.container }}">
    {{{ TopPanel }}}
    {{{ UserAvatar }}}

    <form class="{{ styles.form }}">
        {{{ oldPassword }}}
        {{{ newPassword }}}
        {{{ repeatPassword }}}
        <button class="{{ styles.save_button }}" disabled>Save</button>
    </div>
</section>
