<section class="{{ styles.user-change-password }}">
    {{{ TopPanel }}}
    {{{ UserAvatar }}}

    <form class="{{ styles.user-change-password__form }}">
        {{{ oldPassword }}}
        {{{ newPassword }}}
        {{{ repeatPassword }}}
        <button class="{{ styles.user-change-password__save-button }}" disabled>Save</button>
    </div>
</section>
