<div class="{{ styles.text__wrapper }}">
    <div class="{{ styles.title }}">{{ title }}</div>
    <div class="{{ styles.subtitle }}">{{ subTitle }}</div>
</div>

<div class="{{ styles.buttons__wrapper }}">
        {{{ buttons }}}
</div>
