<div class="{{ styles.error }}">
	<div class="{{ styles.error__code }}">{{ code }}</div>
	<div class="{{ styles.error__description }}">{{ description }}</div>
	<button
		id="return"
		class="{{ styles.error__button }}"
		type="button"
	>
		{{{ buttonLabel }}}
	</button>
</div>
