<form class="{{ styles.container }}">
    <input class="{{ styles.input }}" name="message" type="text" placeholder="Type your message..." required/>
    <div class="{{ styles.buttons_wrapper }}">
        {{{ AttachFilesToMessage }}}
        <button class="{{ styles.submit_button }}" type="submit" disabled>Send</button>
    </div>
</section>
